@layout('layouts.app')

@section('content')
  <div class="container-fluid mt-5 d-flex justify-content-center text-center">
    <div class="card" style="width: 300px;">
      <div class="card-body">
        <small><code>Yeah!</code></small>
        <hr>
        {{ antl.forLocale(globals().default_locale).formatMessage('static.register_success') }}
      </div>
    </div>
  </div>
@endsection