@if(user.avatar)
<figure class="image is-{{ size }}x{{ size }}">
  <img src="{{ assetsUrl('uploads/avatars/' + user.id + '/' + user.avatar) }}" alt="" class="is-rounded">
</figure>
@else
<div class="dummy-avatar dummy-avatar-big" style="width:{{ size }}px;height:{{ size }}px;"></div>
@endif