@if(user.avatar)
  <img src="{{ assetsUrl('uploads/avatars/' + user.id + '/' + user.avatar) }}" alt="" class="rounded-circle mx-auto d-block" width="{{ size }}" height="{{ size }}">
@else
<div class="dummy-avatar dummy-avatar-big mx-auto d-block" style="width:{{ size }}px;height:{{ size }}px;"></div>
@endif