@import "custom";
@import "node_modules/bootswatch/dist/slate/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/slate/bootswatch";
@import "node_modules/dragula/dist/dragula.min";
@import "node_modules/choices.js/src/styles/choices";

body {
  padding-bottom: 120px;
  font-weight: 200;
}

hr {
  margin-top: .75rem;
  margin-bottom: .75rem;
}


.navbar {
  border-top: none;
  border-left: none;
  border-right: none;
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  padding-left: 0;
}

.fa-stack {
  font-size: 0.6rem;
}

.fa-stack > i {
  vertical-align: middle;
}

label, table.table th {
  font-size: 0.8rem;
  font-weight: normal;
  vertical-align: middle;
}

table .btn.btn-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.linkable:hover {
  cursor: pointer;
}

.draggable .list-group-item {
  cursor: move;
  padding: .75rem;
}

.list-group-item small {
  color: #515960;
}

.dataTable-dropdown {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.dataTable-info {
  display: inline-block;
  margin: 10px;
}

.dataTable-search {
  float: right;
  margin: 10px;
}

.dataTable-search input {
  background: #515960;
  border: 1px solid #272B30;
  width: 150px;
}

.dataTable-pagination {
  float: right;
  background: #3C4248;
  margin: 10px;
}

.dataTable-pagination ul {
	margin: 10px;
  padding-left: 0;
}

.dataTable-pagination li {
	list-style: none;
	float: left;
}

.dataTable-pagination a {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #D9D9D9;
}

.dataTable-pagination a:hover {
  background-color: #d9d9d9;
  color: #32383E;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #d9d9d9;
  color: #32383E;
	cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination .pager a {
	font-weight: bold;
}

.dummy-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: #272B30;
}

.dummy-avatar-big {
  width: 100px;
  height: 100px;
}

.badge {
  font-weight: 300;
}

.badge.badge-pill {
  border-radius: 10px;
  padding-left: .7em;
  padding-right: .7em;
}

.dropdown-item {
  padding: 0.20rem .75rem;
}

.card,
.card-header,
.card-footer {
  border: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28A745;
}

.custom-switch label {
  padding-top: 2px;
}