@import "custom";
@import "node_modules/bootswatch/dist/solar/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/solar/bootswatch";
@import "node_modules/dragula/dist/dragula.min";

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
}

.fa-stack {
  font-size: 0.6rem;
}

.fa-stack > i {
  vertical-align: middle;
}

label, table.table th {
  font-size: 0.8rem;
  font-weight: normal;
  vertical-align: middle;
}

.btn.btn-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.linkable:hover {
  cursor: pointer;
}