@import "custom";
@import "bulma";
@import "node_modules/bulma-extensions/dist/css/bulma-extensions.min";
@import "node_modules/choices.js/src/styles/choices";

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.section {
  padding: 1rem;
}

.text-nowrap {
  white-space: nowrap;
}

.button.is-text {
  text-decoration: none;
}

.button.is-small.is-rounded {
  padding: 0 .65rem;
  font-size: .65rem;
}

a.dropdown-item,
button.dropdown-item {
  padding-right: 1rem;
}

.box {
  padding: .75rem;
  margin-bottom: .25rem !important;
}

.icon-box {
  position: absolute;
  right: 8px;
  top: 5px;
  font-size: .75rem;
}

.card-header {
  border-bottom: 1px solid $white;
}

.draggable {
  position: relative;
  cursor: move;
}

hr {
  margin: .75rem 0;
}

.is-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.content a:hover {
  text-decoration: underline;
}

.has-rounded-white-border {
  border: 1px solid #fff;
  border-radius: 6px;
}

footer {
  padding: .5rem !important;
  background: transparent !important;
  border-top: 1px solid $turquoise;
}

#notification {
  width: 320px;
  position: fixed;
  left: 50%;
  margin-left: -160px;
  bottom: 0;
  z-index: 40;
  padding: 10px;

  p {
    margin: 0;
  }
}

#toast {
  width: 100px;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  bottom: 10px;
  z-index: 10;
  padding: 10px;
  border-radius: 8px;

  p {
    margin: 0;
  }
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
}

.linkable:hover {
  cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
}

.dataTable-dropdown {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.dataTable-info {
  display: inline-block;
  margin: 10px;
}

.dataTable-search {
  float: right;
  margin: 10px;
}

.dataTable-search input {
  background: transparent;
  border: 1px solid #dbdbdb;
  padding: .25rem;
  width: 150px;
}

.dataTable-pagination {
  float: right;
  background: #3C4248;
  margin: 10px;
}

.dataTable-pagination ul {
  margin: 10px;
  padding-left: 0;
}

.dataTable-pagination li {
  list-style: none;
  float: left;
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #D9D9D9;
}

.dataTable-pagination a:hover {
  background-color: #d9d9d9;
  color: #32383E;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #d9d9d9;
  color: #32383E;
  cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}

.dummy-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: #fff;
}

.dummy-avatar-big {
  width: 100px;
  height: 100px;
}

.comment-create-form {
  display: none;
}

.comment-create-form.show {
  display: block;
  z-index: 10;
}

@media (max-width: 768px) {
  .section {
    padding: 0;
  }

  .has-rounded-white-border {
    border-radius: 0 !important;
  }

  .card-content {
    padding: 0;
  }

  .content {
    padding: 0 .75rem;
  }
}
