@import "custom";
@import "node_modules/bootswatch/dist/slate/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/slate/bootswatch";
@import "node_modules/dragula/dist/dragula.min";
@import "node_modules/datatables.net-bs4/css/dataTables.bootstrap4";
@import "node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect";

body {
  padding-bottom: 120px;
  font-weight: 200;
}

hr {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.navbar {
  border-top: none;
  border-left: none;
  border-right: none;
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  padding-left: 0;
}

.fa-stack {
  font-size: 0.6rem;
}

.fa-stack > i {
  vertical-align: middle;
}

label, table.table th {
  font-size: 0.8rem;
  font-weight: normal;
  vertical-align: middle;
}

table .btn.btn-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.linkable:hover {
  cursor: pointer;
}

.draggable .list-group-item {
  cursor: move;
  padding: .75rem;
}

.list-group-item small {
  color: #515960;
}

table.dataTable.table-sm > thead > tr > th {
  padding-right: .3rem;
}

.dataTables_filter {
  text-align: left !important;
  margin-top: 14px;
  margin-left: 10px;
}

.dataTables_filter input {
  background: #515960;
  border-color: #272B30;
}

.dataTables_length {
  text-align: right !important;
  margin-top: 14px;
  margin-right: 10px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 14px;
}

.dataTables_info {
  margin-left: 14px;
}

.dummy-avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #272B30;
}

.dummy-avatar-big {
  width: 100px;
  height: 100px;
}

.badge {
  font-weight: 300;
}

.multiselect-container > li > a > label {
  padding: 3px 10px;
}

.dropdown-item {
  padding: 0.20rem .75rem;
}

.card,
.card-header,
.card-footer {
  border: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28A745;
}