<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ globals().app_name }}</title>
    <style media="screen">
      body {
        font-family:monospace;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    @!section('content')
  </body>
</html>
