<p>
  {{ globals().company }}<br>
  {{ globals().contact_person }}<br>
  {{ globals().address }}<br>
  {{ globals().zip_code }} {{ globals().city }}<br><br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>