<div id="notification" class="text-white bg-{{ flashMessage('notification.type') }}" style="display: none;">
  <p>{{ flashMessage('notification.message') }}</p>
</div>

<div id="toast" class="text-white bg-success text-center" style="display: none;">
  <p><i class="fas fa-check fa-2x"></i></p>
</div>