<div id="notification" class="notification is-{{ flashMessage('notification.type') }}" style="display: none;">
  {{ flashMessage('notification.message') }}
</div>

<div id="toast" class="text-white bg-success text-center" style="display: none;">
  <p><i class="fas fa-check fa-2x"></i></p>
</div>