<p>Hallo {{ fullName }}</p>
<p>
  Hier dein Code für die 2FA-Anmeldung:
</p>
<h1>{{ token }}</h1>
<br>
<br>
<br>
<hr>
<p>
  codiac.ch Helpdesk<br>
  Omar De-Giuli<br>
  Zürich<br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>