<p>Hallo {{ fullName }}</p>
<p>
  Hier dein Code für die 2FA-Anmeldung:
</p>
<br>
<br>
<h1><code>{{ token }}</code></h1>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
@include('emails.includes.address_footer')