<p>Hallo {{ first_name }} {{ last_name }}</p>
<p>
  Vielen Dank für die Registration bei CoTrack. Bitte bestätige deine E-Mail Adresse mit unten stehendem Link:
</p>
<p>
  <a href="{{ appUrl('register/confirm/' + confirmation_token) }}">E-Mail Adresse bestätigen</a>
</p>
<br>
<br>
<br>
<hr>
<p>
  codiac.ch Helpdesk<br>
  Omar De-Giuli<br>
  Zürich<br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>