@layout('emails.layout.main')

@section('content')
  <p>Hi {{ user.first_name }} {{ user.last_name }}</p>
  <p>
    {{ messages.body }}
  </p>
  <br>
  <br>
  <p>
    <a href="{{ appUrl('register/confirm/' + user.confirmation_token) }}" class="btn">{{ messages.link }}</a>
  </p>
  <br>
  <br>
  <br>
  <hr>
  <p>{{ messages.hint }}</p>
  <hr>
  @include('emails.includes.address_footer')
@endsection
