<p>
  Es wurde ein neuer Kommentar erfasst.
</p>
<br>
<br>
<p>
  <a href="{{ appUrl('tickets/show/' + ticket.id) }}/#kommentar_{{ comment.id }}">Kommentar lesen</a>
</p>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
@include('emails.includes.address_footer')