<p>
  {{ messages.body }}
</p>
<br>
<br>
<p>
  <a href="{{ appUrl('tickets/show/' + ticket.id) }}/#kommentar_{{ comment.id }}">{{ messages.link }}</a>
</p>
<br>
<br>
<br>
<hr>
<p>{{ messages.hint }}</p>
<hr>
@include('emails.includes.address_footer')