<p>
  Es wurde ein neuer Kommentar erfasst.
</p>
<p>
  <a href="{{ appUrl('tickets/show/' + id) }}">Kommentar lesen</a>
</p>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
<p>
  codiac.ch Helpdesk<br>
  Omar De-Giuli<br>
  Zürich<br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>