<p>
  Dir wurde soeben ein neues Ticket zugewiesen:
</p>
<br>
<br>
<p>
  <a href="{{ appUrl('tickets/show/' + id) }}">Ticket ansehen</a>
</p>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
@include('emails.includes.address_footer')