<p>Hallo {{ first_name }} {{ last_name }}</p>
<p>
  Klicke auf den unten stehenden Link um dein Passwort zurückzusetzen:
</p>
<p>
  <a href="{{ appUrl('password/reset/' + token) }}">Passwort zurücksetzen</a>
</p>