@layout('emails.layout.main')

@section('content')
  <p>
    {{ messages.body }}
  </p>
  <br>
  <br>
  <p>
    <a href="{{ appUrl('password/reset/' + token) }}" class="btn">{{ messages.link }}</a>
  </p>
  <br>
  <br>
  <br>
  <hr>
  <p>{{ messages.hint }}</p>
  <hr>
  @include('emails.includes.address_footer')
@endsection
