<p>Hallo {{ first_name }} {{ last_name }}</p>
<p>
  Klicke auf den unten stehenden Link um dein Passwort zurückzusetzen:
</p>
<p>
  <a href="{{ appUrl('password/reset/' + token) }}">Passwort zurücksetzen</a>
</p>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
<p>
  codiac.ch Helpdesk<br>
  Omar De-Giuli<br>
  Zürich<br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>