<p>
  Der Status des Tickets wurde auf <b>{{ status }}</b> gesetzt.
</p>
<p>
  <a href="{{ appUrl('tickets/show/' + id) }}">Ticket ansehen</a>
</p>
<br>
<br>
<br>
---
<p>
  <small>
    codiac.ch Helpdesk<br>
    Omar De-Giuli<br>
    Zürich<br>
    <a href="mailto:info@codiac.ch">info@codiac.ch</a>
  </small>
</p>