<p>Hallo {{ user.first_name }} {{ user.last_name }}</p>
<p>
  Hier deine Zugangsdaten:
</p>
<br>
<p>Benutzername (E-Mail): <b>{{ user.email }}</b></p>
<p>Passwort: <b>{{ password }}</b></p>
<br>
<br>
<p>
  <a href="{{ appUrl('login') }}">Jetzt anmelden</a>
</p>
<br>
<br>
<br>
<hr>
<p>Bitte auf diese Mail nicht antworten.</p>
<hr>
<p>
  codiac.ch Helpdesk<br>
  Omar De-Giuli<br>
  Zürich<br>
  <a href="mailto:info@codiac.ch">info@codiac.ch</a>
</p>