<p>Hallo {{ first_name }} {{ last_name }}</p>
<p>
  Hier deine Zugangsdaten:
</p>
<p>Benutzername (E-Mail): <b>{{ email }}</b></p>
<p>Passwort: <b>{{ password }}</b></p>
<p>
  <a href="{{ appUrl('login') }}">Jetzt anmelden</a>
</p>