@layout('emails.layout.main')

@section('content')
  <p>
    {{ messages.body }}
  </p>
  <br>
  <p>{{ messages.username }} (E-Mail): <b>{{ user.email }}</b></p>
  <p>{{ messages.password }}: <b>{{ password }}</b></p>
  <br>
  <br>
  <p>
    <a href="{{ appUrl('login') }}">{{ messages.link }}</a>
  </p>
  <br>
  <br>
  <br>
  <hr>
  <p>{{ messages.hint }}</p>
  <hr>
  @include('emails.includes.address_footer')
@endsection
