<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoTrack Helpdesk</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{ style('app') }}
  </head>
  <body>

    @include('partials/nav')
    @include('includes.toast')

    <main role="main">
      <section class="section">
        @!section('content')
      </section>
    </main>

    @loggedIn
      <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark p-2">
          <a href="{{ route('dashboard') }}"><small>&copy; 2019 - codiac.ch</small></a>
        </nav>
      </footer>
    @endloggedIn

    {{ script('app') }}

    @if(flashMessage('notification'))
      <script>
        $(document).ready(function () {
          $('.toast-wrapper').show();
          $('.toast').toast('show');
        });
      </script>
    @endif

    @!section('js')
  </body>
</html>